@import "../../../Variables.module.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bg_button {
  stroke-width: 3;
  transition: .3s;
}


.arrow_up {
  transform: rotate(180deg);
}

.arrow {
  color: transparent;
}


.button_text {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #171717;
  font-size: 2rem;
  font-family: var(--Keania);
}

@media screen and (max-width: 420px) {
  .bg_button {
    width: 90%;
  }

  .button_text {
    font-size: 1.5rem;
  }
}
