@import '../../../../Variables.module.css';

#sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  right: 0;
  background: var(--gray-second);
  z-index: 1000;
  width: 350px;
  height: 100svh;
}

#content {
  display: flex;
  color: var(--yellow-main);
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#cross {
  width: 40px;
  align-self: end;
  cursor: pointer;
  color: var(--yellow-main);
}

#sidebar ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}

#sidebar ul li {
  margin: 15px 0;
}

#sidebar ul a {
  text-decoration: none;
  font-family: var(--Keania);
  color: var(--yellow-main);
}

.banner {
  font-size: 1.5rem;
  font-weight: bold;
}
